fint:
  application-id: fint-flyt-acos-instance-gateway

logging:
  level:
    no.novari.cache.ehcache.FintEhCacheEventLogger: WARN
    reactor.netty.http.client: debug

server:
  error:
    include-message: always
  max-http-request-header-size: 40KB

spring:
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-resource-server
      - flyt-file-client
  output:
    ansi:
      enabled: always

  http:
    codecs:
      max-in-memory-size: 100MB
