fint:
  org-id: fintlabs.no

novari:
  flyt:
    file-service-url: http://localhost:8091
    resource-server:
      security:
        api:
          external:
            authorized-source-application-ids:
              - 1

    instance-gateway:
      check-integration-exists: false

  kafka:
    default-replicas: 1
    topic:
      org-id: fintlabs-no

spring:
  kafka:
    bootstrap-servers: localhost:9092

server:
  port: 8101

logging:
  level:
    reactor.netty.http.client: debug